body{
    align-items: center;
    background-color: aquamarine;
}

#div{
    background-color: azure;
    padding: 15px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #00000074;
        
        h1{
            text-align: center;
            
        }

        img{
           margin-left: 30%;
        }
        
        
        p{
            margin-left: 30%;
            font-size: larger;
            font-weight: bolder;
        }

        span{
            color: darkcyan;
            
            font: 1em sans-serif;
            font-size: medium;
        }

}

a{
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    color: azure;
    margin-left: 80%;
}